
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body,
button,
mat-card,
.tab-content-item,
.mat-tab-label-grayed,
.tab-header,
.tab-content,
.app-fancydropdown,
.app-card,
.hits-btn,
.load-icon,
.center,
.mdc-tab,
.mat-mdc-tab-header,
.mat-mdc-card {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: black;
}

mat-card {
  width: 370px;
  height: 400px;
  border-radius: 10px !important;
  overflow: hidden; /*Made Border Rounded*/
}

.card {
  margin: 20px auto;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-header {
  margin: 0px;
  padding: 0px;
  width: 185px !important;
 
}

/* .tab-header:hover {
  background-color: red;
} */



.tab-content {
  padding: 31px 17px 17px 17px;
  width: 370px;
  height: 400px;
}

.tab-content-item {
  display: flex; /* Use flex display */
  flex-direction: column;
}

.app-fancydropdown,
.app-card {
  margin-right: 10px;
}

.hits-btn {
  margin-top: 20px; /* Add some space between the content and the button */
  cursor: pointer;
}

.search-img,
.dealer-img {
  margin-right: 10px; /* Add some space between the image and the text */
}

.full-width {
  width: 100%;
}
.container {
  margin: 10px auto;
  overflow: hidden; /* Add vertical scrollbar if necessary */
  border: 1px solid #ccc; /* Optional: Add a border for visualization */
}

ul {
  margin-top: 15px;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: start; /* To align the image and text to the top of the flex container */
}

.bullet-image {
  width: 21px;
  height: 21px;
  margin-right: 4px;
  vertical-align: middle;
}

.text-content {
  flex: 1; /* This allows the text to wrap and take the remaining width */
  min-width: 0; /* Fixes a quirk where text may not wrap correctly */
}

.search-img,
.dealer-img {
  margin-right: 17px; /* Add some space between the image and the text */
}

/*Animation loading*/
/* Load Icon */
.load-icon {
  width: 70px;
  height: 15px;
}
.load-icon span {
  position: absolute;
  display: inline-block;
  background: #f6f2f2;
  width: 20%;
  height: 100%;
  border-radius: 100px;
}
.load-icon span:nth-of-type(1) {
  left: 0;
}
.load-icon span:nth-of-type(2) {
  left: 40%;
}
.load-icon span:nth-of-type(3) {
  right: 0;
}

/* Animation */
.load-icon span {
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.load-icon span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.load-icon span:nth-of-type(3) {
  animation-delay: 0.4s;
}

/* Keyframes */
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* This isn't needed, just styling pen. */
body {
  font-family: sans-serif;
  background: #ddd;
}
.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hits-btn {
  margin-top: -10px;
  margin-left: 30px;
  position: relative;
  height: 48px;
  width: 260px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  background-color: #13499f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  text-align: center;
  opacity: 1;
  outline: none;
}

.hits-btn:hover {
  opacity: 0.85; /* Change the background color on hover */
}



/*First Rule */

/* White background for the first tab */
::ng-deep .madc-tab:first-child {
  background-color: #fff !important;
}


/* Gray background for the first tab */
::ng-deep .mdc-tab:nth-child(2) {
  background-color: #e0e5e6 !important;
} 



.mat-mdc-card {
  --mat-card-title-text-font: Roboto, sans-serif;
  --mat-card-title-text-line-height: 32px;
}
::ng-deep .mdc-tab {
  padding: 0px !important;
  margin: 0px;
}

::ng-deep .mat-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  --mdc-tab-indicator-active-indicator-height: 0px !important;
  --mdc-tab-indicator-active-indicator-shape: 0;
  --mdc-secondary-navigation-tab-container-height: 48px;
}
